.App {
  text-align: center;
  background-color: #d8a4bb;
}


.App-header {
  background-color: #48192d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
